.App-header {
    display: flex;
    align-items: center;
    border-bottom: medium solid red;
    border-bottom-color: red;
}

.App-logo {
    width: 240px;
    height: 240px;
}

#Notifications {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    right: 0;
}

.menuItem {
    margin-right: 1rem;
}
