.App-header {
    display: flex;
    align-items: center;
    border-bottom: medium solid red;
    border-bottom-color: red;
}

.App-body {
    padding: 2% 3% ;
    height: 480px;
}

.App-footer {
    text-align: center;
    border-top: solid red;
}

.App-logo {
    width: 240px;
    height: 240px;
}
