.Notifications {
	border: 1px red dashed;
	padding: 1rem;
	margin: 1rem;
}

[data-priority="default"] {
	color: blue;
}

[data-priority="urgent"] {
	color: red;
}

th {
    border-bottom: 2px solid gray;
}

tr:nth-child(n + 2) th {
    text-align: left;
}

table {
    border: 1px solid gray;
    width: 100%;
}
